<html>
  <head>

    <title> Welcome to IPL </title>

    <script type = "text/javascript" src = "resources/jquery.min.js"> </script>
    <script type = "text/javascript" src = "resources/bootstrap.min.js"> </script>
    <script src = "resources/script.js">  </script>
    <link rel="stylesheet" type="text/css" href="resources/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="resources/w3.css" >
    <link rel="stylesheet" type="text/css" href="resources/home.css" >

  </head>
	<body>
          <div class="container">

             <span> <img src = "resources/images/images.png" height = "100px" style = "position:relative;left:500px"> </span>
             <ul class="nav nav-pills nav-justified">
           <li><a href="index.html">Home</a></li>
           <li><a href="results2.html">Results</a></li>
           <li><a href="stats.html">Player Statistics</a></li>
           <li><a href="#">Fantasy Teams</a></li>
           <li><button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Login</button></li>
           </ul>
         </div>

         <div class = "container">

              <h1> INVALID REQUEST METHOD! </h1>

         </div>
</body>
</html>